---
import Image from 'astro/components/Image.astro'
import PROJECTS from '~/static/projects'
import GalleryButton from './gallery-button'

import '~/styles/projects.css'
---

<section class='projects section' id='projects'>
	<div class='container'>
		<h2 class='section-title px-15'>Projects</h2>
<center>
		<div class='projects-container'>
			{
				
				PROJECTS.map((project) => (
					
					<div class='project-card'
					
					
					>
						<Image
							inferSize
							src={project.thumbnail}
							alt={project.name}
							class='project-img'
							loading='lazy'
							crossorigin='anonymous'
						/>

						<div class='project-card-hover'>
							<h3 class='project-title'>{project.name}</h3>

							<ul class='project-tags-container'>
								{project.tags.map((tag) => (
									<li class='project-tag'>{tag}</li>
								))}
							</ul>

							<div class='project-buttonsss'>
								<GalleryButton
									project={project}
									client:idle
								/>
						</div>
							</div>
					</div>
				))
			}
		</div>
</center>
	</div>
</section>
